@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
:root {
  --primary-color: rgb(98, 191, 231);
  --secondery-color: rgb(0, 105, 150);
  --color-white: rgb(255, 255, 255);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0px;
  padding: 0px;
  background: var(--primary-color);
  font-family: "Open sans", sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 100px auto;
  background: var(--color-white);
  padding: 20px;
  border-radius: 13px;
}

.calculadora {
  width: 400px;
}

.display {
  font-size: 2em;
  width: 100%;
  text-align: right;
}

.btn {
  width: 100%;
  height: 50px;
  font-size: 1em;
  border: none;
  background: #dfdfdf;
  cursor: pointer;
}

.btn:hover {
  background-color: #ababab;
}

.btn-color {
  background: rgba(193, 18, 178, 0.803);
}

.btn-color:hover {
  background-color: rgba(193, 18, 178, 0.572);
}

.erros-topicos {
  font-size: 1.5em;
  text-decoration: underline rgb(180, 14, 14);
}

.mensagem {
  font-size: 1em;
  color: rgb(180, 14, 14);
}

@media only screen and (max-device-width: 500px) {
  .btn {
    color: black;
    background: #dfdfdf;
  }

  .btn-color {
    background: rgba(193, 18, 178, 0.803);
  }

  .btn-color:hover {
    background-color: rgba(193, 18, 178, 0.572);
  }
}